In [1]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=eb1d370896aefb82bada68680b80a9df9bcb4e13536bc663f59d829e7b34b371
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

# **Task 2**

In [76]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("app").getOrCreate()

# The preprocessed output from task 1 is converted into csv file for ease of processing in following tasks.
df = spark.read.csv("search_data.csv",header=True, sep='\t')
df.show()

# Convert to RDD
t2_tokens = df.rdd.flatMap(lambda row: row[2].split("."))
t2_pairs = t2_tokens.map(lambda token: (token, 1))

# Reduce by key and count number of tokens
t2_counts = t2_pairs.reduceByKey(lambda a, b: a + b)

# Sort in descending order and extract top 10
t2_top10 = t2_counts.sortBy(lambda x: x[1], ascending=False).take(10)

for token, count in t2_top10:
    print(f"{token}: {count}")

+---------+--------+--------------------+
|queryTime|  userId|            clickUrl|
+---------+--------+--------------------+
|  0:00:00|2.98e+15|  download.it.com.cn|
|  0:00:00|7.59e+15|       news.21cn.com|
|  0:00:00|5.23e+15|     www.greatoo.com|
|  0:00:00|6.14e+15|       www.jd-cd.com|
|  0:00:00|8.56e+15|       www.big38.net|
|  0:00:00|2.39e+16|  www.chinabaike.com|
|  0:00:00|1.80e+15|        www.6wei.net|
|  0:00:00|7.18e+14|    www.shanziba.com|
|  0:00:00|4.14e+16|       bbs.gouzai.cn|
|  0:00:00|9.98e+15|     ks.cn.yahoo.com|
|  0:00:00|2.16e+16|  www.fotolog.com.cn|
|  0:00:00|7.42e+15|     ks.cn.yahoo.com|
|  0:00:00|6.17e+14|    topic.bindou.com|
|  0:00:00|3.93e+15|     ks.cn.yahoo.com|
|  0:00:00|8.24e+15|shwamlys.blog.soh...|
|  0:00:00|8.25e+15|  download.it168.com|
|  0:00:00|6.24e+15|   www.songtaste.com|
|  0:00:00|6.55e+15|   product.it168.com|
|  0:00:00|2.35e+15|    pic.news.mop.com|
|  0:00:00|6.48e+15|       www.1000dy.cn|
+---------+--------+--------------------+
only showing top 20 rows

com: 7935
www: 4184
cn: 2362
baidu: 779
news: 641
net: 603
zhidao: 530
sina: 501
bbs: 496
sohu: 416

In [75]:
from pyspark.sql.functions import col, expr

# **Task 3**

In [78]:
df_time = df.select("queryTime")
df_time.show()

t3_tokens = df_time.withColumn("last_two_chars", expr("substr(queryTime, -2)")).select("last_two_chars")

t3_pairs = t3_tokens.rdd.map(lambda token: (token, 1))

# Reduce by key and count number of token
t3_counts = t3_pairs.reduceByKey(lambda a, b: a + b)

# Sort the result in descending order of the count
t3_top10 = t3_counts.sortBy(lambda x: x[1], ascending=False).take(10)

# Print the result
for token, count in t3_top10:
    print(f"{token}: {count}")

+---------+
|queryTime|
+---------+
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
|  0:00:00|
+---------+
only showing top 20 rows

Row(last_two_chars='00'): 201
Row(last_two_chars='35'): 194
Row(last_two_chars='23'): 192
Row(last_two_chars='07'): 188
Row(last_two_chars='31'): 187
Row(last_two_chars='13'): 186
Row(last_two_chars='19'): 184
Row(last_two_chars='06'): 183
Row(last_two_chars='09'): 180
Row(last_two_chars='14'): 180